.card {
  .fileInput[type="file"] {
  }

  label {
    height: 40px;
    width: 80px;
    color: white;
    background-color: var(--primary);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }
}
