@use "../assets/styles/mixins" as mixin;

.form {
  // display: grid;
  height: 250px;
  width: 650px;
  cursor: pointer;
  text-align: center;
  margin: 30px auto 0px;

  @include mixin.lg-lt {
    width: 500px;
  }
  @include mixin.sm-lt {
    width: 400px;
  }
  @include mixin.xs {
    width: 350px;
  }

  .textForm {
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .submitBtn {
    width: 160px;
    cursor: pointer;
    margin: auto;
    font-size: 15px;
    i {
      font-size: 16px;
    }
  }

  .userBox {
    @include mixin.xs {
      display: grid;
      place-items: center;
      margin-bottom: 20px;
    }
    .userimg {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
