.commentsContainer {
  width: 95%;
  // background-color: var(--gray-3);
  padding: 20px;

  .userBox {
    display: flex;

    .commenterPseudo {
      font-weight: 700;
      font-size: 14px;
    }
  }
  .textBox {
    width: 60px;
  }
  .commenterText {
    font-size: 14px;
  }
  .userImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  .commentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .textForm {
    text-align: left;
    line-height: 35px;
    padding-left: 5px;
    border: none;
    outline: none;
    width: 420px;
    resize: none;
    overflow: hidden;
    font-size: 14px;
    height: 40px;
    background-color: var(--gray-2);
  }

  .submitBtn {
    width: 110px;
    cursor: pointer;
    margin: auto;
  }
}
