@use "../assets/styles/mixins" as mixin;

.message {
  border: 1px solid var(--gray-2);

  width: 650px;
  cursor: pointer;
  background-color: white;
  @include mixin.lg-lt {
    width: 500px;
  }
  @include mixin.sm-lt {
    width: 400px;
  }
  @include mixin.xs {
    width: 350px;
  }
}

.signature {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  overflow: hidden;
  border-radius: 20px;

  .messageImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.textMessage {
  // text-align: left;
  border: none;
  outline: none;
  width: 90%;
  resize: none;
  overflow: hidden;
  height: 100%;
}

.commentsLikesBox {
  display: flex;
}

.userBox {
  padding: 20px 20px 0px 20px;
  display: flex;

  @include mixin.lg-lt {
    flex-direction: column;
  }
  .userImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
}

.heartPrimary {
  color: var(--primary);
}

.imageContainer {
  height: 380px;
}
